@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: mediumpurple;
}

#snowman {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
#snowman .hat {
    height: 0; 
    width: 40px;
    border-bottom: 40px solid rgb(109, 109, 109);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: 1000;
    margin-bottom: -15px;
}
 
#snowman .ball{
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
 
#snowman .head {
    height: 75px;
    width: 75px;
    margin-bottom: -20px;
    z-index: 100;
}
 
#snowman .head .eyes {
    display: flex;
    justify-content: space-between;
    width: 40px;
    position: relative;
    top: 20px;
    margin: auto;
}
 
#snowman .head .eyes .eye {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
}
 
#snowman .head .carrot {
    width: 0; 
    height: 0;
    position: relative;
    top: 25px;
    left: -15px;
    border-top: 5px solid transparent;
    border-right: 50px solid orange;
    border-bottom: 5px solid transparent;
}
 
#snowman .head .small {
    position: relative;
    top: 20px;
    left: 30px;
    height: 25px;
    width: 10px;
    border-radius: 50px 0 0 50px;
    border-top: 5px solid #000;
    border-left: 5px solid #000;
    border-bottom: 5px solid #000;
    transform: rotate(-90deg);
}

#snowman .body {
    height: 125px;
    width: 125px;
    margin-bottom: -60px;
    z-index: 10;
}
 
#snowman .body .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
    position: relative;
    top: 30px;
}
 
#snowman .body .button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: brown;
    margin-bottom: 20px;
}
 
#snowman .bottom {
    height: 175px;
    width: 175px;
    z-index: 1;
}